<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nós</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <header>
        <nav>
            <ul>
                <a href="{{ url_for("home") }}"><li> Home</li></a>
                <a href="{{ url_for("sobre") }}"><li> Sobre nós</li></a>
                <a href="{{ url_for("cadastro") }}"><li> Cadastro</li></a>
                <a href="{{ url_for("listagem") }}"><li> Listagem</li></a>

            </ul>
        </nav>
    </header>

    <main>

        <h1>Sobre Nós</h1>

        <p>
            Nosso grupo é formado por estudantes com interesse e dedicação na área de programação.
            Reunimos diferentes habilidades, como lógica, criatividade, organização e pensamento analítico, 
            essenciais para o desenvolvimento de soluções eficientes e inovadoras.
        </p>

        <h2>Integrantes:</h2>
        <ul>
            <li>Clara Machado Venturi</li>
            <li>Manuela Lopes Zickuhr</li>
            <li>Noah Tomasini do Nascimento</li>
            <li>Sophia Pavese Volani</li>
            <li>Victor Alexandre Cerutti</li>
            <li>Vinícius Sombrio Fronza</li>
        </ul>

        <p>
            Nosso grupo compartilha um interesse em comum: o universo Pokémon. Desde os jogos até os personagens e histórias, 
            esse tema sempre despertou nossa curiosidade e entusiasmo. Os Pokémon possuem uma grande variedade de características, 
            como tipos, habilidades, evoluções e estatísticas — elementos que se encaixam perfeitamente na proposta do nosso trabalho, 
            que envolve organização de dados, lógica de programação e interação entre elementos. Por isso, decidimos desenvolver nosso 
            projeto inspirado nesse universo, unindo diversão e aprendizado para criar algo que represente nosso gosto pessoal e nossas habilidades técnicas.
        </p>
        
    </main>
    
</body>
</html>
